* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Quicksand, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100svh;
  min-height: 100dvh;
  gap: 1.5rem;
  background-color: #3a3a3a;
}

h1 {
  color: #dddddd;
  letter-spacing: 0.5rem;
  animation: bounce 3s infinite;
  font-size: 3rem;
}

.form-container {
  display: flex;
  gap: 0.5rem;
}

#user-input,
#btn-input {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.9rem;
  color: #3a3a3a;
  background-color: #dddddd;
}

#user-input {
  text-align: center;
  outline: none;
}

#btn-input {
  font-weight: bold;
  cursor: pointer;
}

.list-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 10px;
}

.list {
  display: flex;
  min-width: 300px;
  justify-content: space-between;
  gap: 1rem;
  padding: 0.5rem 1rem;
  border: 1px solid #dddddd;
  border-radius: 0.9rem;
}

.item {
  cursor: pointer;
  color: #dddddd;
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
}

.action {
  display: flex;
  gap: 1rem;
}

.btn-edit,
.btn-remove {
  padding: 0.2rem 0.4rem;
  font-size: 1rem;
  border: none;
  border-radius: 0.4rem;
  color: #3a3a3a;
  background-color: #dddddd;
  cursor: pointer;
}

@keyframes bounce {
  0% {
    transform: translatey(0);
  }

  50% {
    transform: translatey(-0.5rem);
  }

  100% {
    transform: translatey(0);
  }
}
