* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Quicksand, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100svh;
  min-height: 100dvh;
  gap: 20px;
  background-color: #3a3a3a;
}

h1 {
  color: #dddddd;
  letter-spacing: 0.5rem;
  animation: bounce 3s infinite;
  font-size: 3rem;
}

.form-input {
  display: flex;
  gap: 10px;
}

input,
button {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.9rem;
  color: #3a3a3a;
  background-color: #dddddd;
}

input {
  text-align: center;
  outline: none;
}

button {
  font-weight: bold;
  cursor: pointer;
}

p {
  cursor: pointer;
  color: #dddddd;
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
}

@keyframes bounce {
  0% {
    transform: translatey(0);
  }

  50% {
    transform: translatey(-0.5rem);
  }

  100% {
    transform: translatey(0);
  }
}
